<?xml version="1.0" encoding="UTF-8"?> 
<Mml version="2.3" createDate="${claimHelper.getConfirmDate()}" 
	xmlns:xhtml="http://www.w3.org/1999/xhtml" 
	xmlns:mmlCm="http://www.medxml.net/MML/SharedComponent/Common/1.0" 
	xmlns:mmlNm="http://www.medxml.net/MML/SharedComponent/Name/1.0" 
	xmlns:mmlFc="http://www.medxml.net/MML/SharedComponent/Facility/1.0" 
	xmlns:mmlDp="http://www.medxml.net/MML/SharedComponent/Department/1.0" 
	xmlns:mmlAd="http://www.medxml.net/MML/SharedComponent/Address/1.0" 
	xmlns:mmlPh="http://www.medxml.net/MML/SharedComponent/Phone/1.0" 
	xmlns:mmlPsi="http://www.medxml.net/MML/SharedComponent/PersonalizedInfo/1.0" 
	xmlns:mmlCi="http://www.medxml.net/MML/SharedComponent/CreatorInfo/1.0" 
	xmlns:mmlPi="http://www.medxml.net/MML/ContentModule/PatientInfo/1.0" 
	xmlns:mmlBc="http://www.medxml.net/MML/ContentModule/BaseClinic/1.0" 
	xmlns:mmlFcl="http://www.medxml.net/MML/ContentModule/FirstClinic/1.0" 
	xmlns:mmlHi="http://www.medxml.net/MML/ContentModule/HealthInsurance/1.1" 
	xmlns:mmlLs="http://www.medxml.net/MML/ContentModule/Lifestyle/1.0" 
	xmlns:mmlPc="http://www.medxml.net/MML/ContentModule/ProgressCourse/1.0" 
	xmlns:mmlRd="http://www.medxml.net/MML/ContentModule/RegisteredDiagnosis/1.0" 
	xmlns:mmlSg="http://www.medxml.net/MML/ContentModule/Surgery/1.0" 
	xmlns:mmlSm="http://www.medxml.net/MML/ContentModule/Summary/1.0" 
	xmlns:mmlLb="http://www.medxml.net/MML/ContentModule/test/1.0" 
	xmlns:mmlRp="http://www.medxml.net/MML/ContentModule/report/1.0" 
	xmlns:mmlRe="http://www.medxml.net/MML/ContentModule/Referral/1.0" 
	xmlns:mmlSc="http://www.medxml.net/MML/SharedComponent/Security/1.0" 
	xmlns:claim="http://www.medxml.net/claim/claimModule/2.1" 
	xmlns:claimA="http://www.medxml.net/claim/claimAmountModule/2.1">
	<MmlHeader>
		<mmlCi:CreatorInfo>
			<mmlPsi:PersonalizedInfo>
				<mmlCm:Id mmlCm:type="local" mmlCm:tableId="MML0024">${claimHelper.getCreatorId()}</mmlCm:Id> 
				<mmlPsi:personName>
                                    <mmlNm:Name mmlNm:repCode="I" mmlNm:tableId="MML0025">
                                        <mmlNm:fullname>${claimHelper.getCreatorName()}</mmlNm:fullname>
                                    </mmlNm:Name>
				</mmlPsi:personName>
                                <mmlFc:Facility>
                                    <mmlFc:name mmlFc:repCode="I" mmlFc:tableId="MML0025">${claimHelper.getFacilityName()}</mmlFc:name>
                                    <mmlCm:Id mmlCm:type="insurance" mmlCm:tableId="MML0027">${claimHelper.getJmariCode()}</mmlCm:Id>
                                </mmlFc:Facility>
			</mmlPsi:PersonalizedInfo>
			<mmlCi:creatorLicense mmlCi:tableId="MML0026">${claimHelper.getCreatorLicense()}</mmlCi:creatorLicense> 
		</mmlCi:CreatorInfo>
		<masterId>
  			<mmlCm:Id mmlCm:type="facility" mmlCm:tableId="MML0024">${claimHelper.getPatientId()}</mmlCm:Id> 
		</masterId>
		<toc>
  			<tocItem>http://www.medxml.net/MML/SharedComponent/Common/1.0</tocItem> 
  			<tocItem>http://www.medxml.net/MML/SharedComponent/Name/1.0</tocItem> 
  			<tocItem>http://www.medxml.net/MML/SharedComponent/Facility/1.0</tocItem> 
  			<tocItem>http://www.medxml.net/MML/SharedComponent/Department/1.0</tocItem> 
  			<tocItem>http://www.medxml.net/MML/SharedComponent/Address/1.0</tocItem> 
  			<tocItem>http://www.medxml.net/MML/SharedComponent/Phone/1.0</tocItem> 
  			<tocItem>http://www.medxml.net/MML/SharedComponent/PersonalizedInfo/1.0</tocItem> 
  			<tocItem>http://www.medxml.net/MML/SharedComponent/CreatorInfo/1.0</tocItem> 
  			<tocItem>http://www.medxml.net/MML/SharedComponent/Security/1.0</tocItem> 
  			<tocItem>http://www.medxml.net/MML/ContentModule/PatientInfo/1.0</tocItem> 
  			<tocItem>http://www.medxml.net/MML/ContentModule/BaseClinic/1.0</tocItem> 
  			<tocItem>http://www.medxml.net/MML/ContentModule/FirstClinic/1.0</tocItem> 
  			<tocItem>http://www.medxml.net/MML/ContentModule/HealthInsurance/1.1</tocItem> 
  			<tocItem>http://www.medxml.net/MML/ContentModule/Lifestyle/1.0</tocItem> 
  			<tocItem>http://www.medxml.net/MML/ContentModule/ProgressCourse/1.0</tocItem> 
  			<tocItem>http://www.medxml.net/MML/ContentModule/RegisteredDiagnosis/1.0</tocItem> 
  			<tocItem>http://www.medxml.net/MML/ContentModule/Surgery/1.0</tocItem> 
  			<tocItem>http://www.medxml.net/MML/ContentModule/Summary/1.0</tocItem> 
  			<tocItem>http://www.medxml.net/MML/ContentModule/test/1.0</tocItem> 
  			<tocItem>http://www.medxml.net/MML/ContentModule/report/1.0</tocItem> 
  			<tocItem>http://www.medxml.net/MML/ContentModule/Referral/1.0</tocItem> 
  			<tocItem>http://www.medxml.net/claim/claimModule/2.1</tocItem> 
  			<tocItem>http://www.medxml.net/claim/claimAmountModule/2.1</tocItem> 
		</toc>
	</MmlHeader>
	<MmlBody>
		<MmlModuleItem>
			<docInfo contentModuleType="claim">
				<securityLevel>
					<accessRight permit="all">
						<mmlSc:facility>
							<mmlSc:facilityName mmlSc:facilityCode="creator">ãLç⁄é“é{ê›</mmlSc:facilityName> 
						</mmlSc:facility>
					</accessRight>
				</securityLevel>
				<title generationPurpose="record">${claimHelper.getGenerationPurpose()}</title> 
				<docId>
  					<uid>${claimHelper.getDocId()}</uid> 
  					<groupId groupClass="record">${claimHelper.getDocId()}</groupId> 
				</docId>
				<confirmDate>${claimHelper.getConfirmDate()}</confirmDate> 
				<mmlCi:CreatorInfo>
					<mmlPsi:PersonalizedInfo>
  						<mmlCm:Id mmlCm:type="local" mmlCm:tableId="MML0024">${claimHelper.getCreatorId()}</mmlCm:Id> 
						<mmlPsi:personName>
                                                    <mmlNm:Name mmlNm:repCode="I" mmlNm:tableId="MML0025">
                                                        <mmlNm:fullname>${claimHelper.getCreatorName()}</mmlNm:fullname> 
                                                    </mmlNm:Name>
						</mmlPsi:personName>
                                                <mmlFc:Facility>
                                                    <mmlFc:name mmlFc:repCode="I" mmlFc:tableId="MML0025">${claimHelper.getFacilityName()}</mmlFc:name>
                                                    <mmlCm:Id mmlCm:type="insurance" mmlCm:tableId="MML0027">${claimHelper.getJmariCode()}</mmlCm:Id>
                                                </mmlFc:Facility>
  					</mmlPsi:PersonalizedInfo>
  					<mmlCi:creatorLicense mmlCi:tableId="MML0026">${claimHelper.getCreatorLicense()}</mmlCi:creatorLicense> 
  				</mmlCi:CreatorInfo>
  				<extRefs /> 
  			</docInfo>
		<content>
			<claim:ClaimModule>
				<claim:information claim:status="perform"
                                   claim:orderTime="${claimHelper.getConfirmDate()}"
                                   claim:admitFlag="false"
#if ($claimHelper.getHealthInsuranceGUID())
                                   claim:insuranceUid="${claimHelper.getHealthInsuranceGUID()}"
#end   
                                   claim:defaultTableId="dolphin_2001_10_03">
					<mmlHi:insuranceClass mmlHi:ClassCode="${claimHelper.getHealthInsuranceClassCode()}" mmlHi:tableId="MML0031">${claimHelper.getHealthInsuranceDesc()}</mmlHi:insuranceClass>    
				</claim:information>
##------------------------------------- start bundle	
#foreach ($bundle in $claimHelper.getClaimBundle())
				<claim:bundle claim:classCode="${bundle.getClassCode()}" claim:classCodeId="${bundle.getClassCodeSystem()}">
					<claim:className>${bundle.getClassName()}</claim:className>
#if ($bundle.getAdmin())					
					<claim:administration claim:adminCode="${bundle.getAdminCode()}">${bundle.getAdmin()}</claim:administration>
#end
#if ($bundle.getAdminMemo())
					<claim:admMemo>${bundle.getAdminMemo()}</claim:admMemo>
#end	    
					<claim:bundleNumber>${bundle.getBundleNumber()}</claim:bundleNumber>
##------------------------------------- start item	    
#foreach ($item in $bundle.getClaimItem())
					<claim:item claim:subclassCode="${item.getClassCode()}"
                                claim:subclassCodeId="${item.getClassCodeSystem()}"
                                claim:code="${item.getCode()}">
						<claim:name>${item.getName()}</claim:name>
	    				<claim:number claim:numberCode="${item.getNumberCode()}" claim:numberCodeId="${item.getNumberCodeSystem()}"
#if ($item.getUnit())	        	              
                                      claim:unit="${item.getUnit()}"
#end	                          
	                                            >${item.getNumber()}</claim:number>
					</claim:item>
#end
##------------------------------------- end item
#if ($bundle.getMemo())	 
					<claim:memo>${bundle.getMemo()}</claim:memo>
#end	    
				</claim:bundle>
#end
##--------------------------------------end bundle
			</claim:ClaimModule>
		</content>
	</MmlModuleItem>
</MmlBody>
</Mml>